[Unit]
Requires=network-online.target
After=network-online.target httpd.service

[Service]
Type=forking
Restart=always
ExecStart=/opt/ss/develenv/platform/sonar/bin/linux-x86-64/sonar.sh start
ExecStop=/opt/ss/develenv/platform/sonar/bin/linux-x86-64/sonar.sh stop
User=sonar
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
